#define WITH_TLS 1

const char *ssid = "wifi network name";
const char *pass = "wifi network pass";

const char *server_ip = "185.188.183.121";
#if WITH_TLS == 1
const int server_port = 8080;
#else
const int server_port = 8081;
#endif

const char *username = "user";
const char *password = "user";


const int reconnect_timeout_msec = 2000;

const char *tls_cert = \
"-----BEGIN CERTIFICATE-----\n" \
"your certificate"
"-----END CERTIFICATE-----\n";

const unsigned long dump_one_frame_msec = 100; //100ms for one frame

const char *camera_name = "cam name";
